artefacts
bin
data/encoded
data/logits
data/preprocessed
data/raw
data/target
data/tokenized
etc
include
.ipynb_checkpoints
lib
LightGBM
logs
/models
research
share
src/pipelines
trash
lib64
.idea
commands.txt
pyvenv.cfg
